@import "bootstrap";
@import "weather-seven";

//Fonts

.orbitron {
    font-family: 'Orbitron', sans-serif;
    color: #06FF51;
}
.icon-lg {
    font-size: 100px;
}
.icon-sm {
    font-size: 50px;
}
.icon-xs {
    font-size: 40px;
}

.weather_forecast {
    border-style: 2px solid black;
}
.online {
    font-family: 'Orbitron', sans-serif;
    color: green;
}
.offline {
    font-family: 'Orbitron', sans-serif;
    color: red;
}
.bg-violet{
    background-color: rebeccapurple;
}
.bg-yellow{
    background-color: yellow;
}